body {
    background: #A1E9FF;
    color: #fff;
    padding: 25px;
    font-family: sans-serif;
}
  
#submit-button {
    position: absolute;
}
  
#user-purpose {
    color: red;
    
    position: absolute;
  
    left: 50%;
    transform: translate(-50%);
}
  
#observations {
    position: absolute;
  
    left: 50%;
    transform: translate(-50%);
    top: 100px;
}

#logic {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 150px; 
}

#observe-inputs{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#conclusion{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 200px;
}

#response{
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1000px;
}